<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy&family=Yeseva+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header d-flex justify-content-between align-items-center">
            <h1><a href="/index">DOCKER PROJEKTI</a></h1>
            <div>
                <a href="/docker">Docker</a>
                <a href="/docker-compose">Docker Compose</a>
                <a href="/notes">Muistiinpanot</a>
            </div>
        </div>
        <div class="content">
            <h1 class="mt-5">Docker</h1>
            <p>Tämä sivu esittelee Docker-osaamistamme.</p>
            <a href="/" class="btn btn-secondary mt-3">Back to Home</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>