<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker Compose</title>

    <!-- CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy&family=Yeseva+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header d-flex justify-content-between align-items-center">
            <h1><a href="/">DOCKER PROJEKTI</a></h1>
            <div>
                <a href="/docker">Docker</a>
                <a href="/docker-compose">Docker Compose</a>
                <a href="/notes">Muistiinpanot</a>
            </div>
        </div>
        <div class="content">
            <div class="text">
                <h2 class="mt-4">Docker Compose ja Docker-ympäristö</h2>
                <p class="mt-4"> Docker-ympäristö muodostuu yleensä useista konteista, jotka toimivat yhdessä. Docker Compose on työkalu, joka mahdollistaa näiden konttien hallinnoinnin yhden tiedoston avulla. Tämä helpottaa konttien luomista, käynnistämistä ja hallinnointia, sekä mahdollistaa konttien välisen kommunikaation ja riippuvuuksien määrittämisen.</p>
                
                <h4 class="mt-4">Docker Compose -tiedosto</h4>
                <p class="mt-4">Docker Compose on YAML-muotoinen tiedosto, joka sisältää konteille oleelliset määritykset ja asetukset. Tiedostossa määritellään mm. konttien nimet, käytettävät imaget, portit, ympäristömuuttujat ja riippuvuudet.</p>
                <p class="mt-4">Esimerkkinä tämän projektin oma 'docker-compose.yml' -tiedosto:</p>
                <pre class="mt-4 bg-light p-3">
                    version: '3.9'
                    
                    services:
                      frontend:
                        build: ./frontend
                        ports:
                          - "3000:3000"
                      backend:
                        build: ./backend
                        ports:
                          - "5000:5000"
                        depends_on:
                          - database
                      database:
                        image: postgres:14
                        environment:
                          POSTGRES_USER: user
                          POSTGRES_PASSWORD: password
                          POSTGRES_DB: notes
                        ports:
                          - "5432:5432"
                        volumes:
                          - db_data:/var/lib/postgresql/data
                          - ./backend/init.sql:/docker-entrypoint-initdb.d/init.sql
                    
                    volumes:
                      db_data:
                </pre>
                
                <!-- Frontend -->
                <h4 class="mt-4">Frontend-palvelu</h4>
                <p class="mt-4">Frontend-palvelu määrittelee käyttöliittymän. Se rakentaa Docker imagen './frontend' hakemiston Dockerfilen perusteella. Se myös avaa portin 3000, jonka kautta frontend on saatavilla osoitteessa 'http://localhost:3000'.</p>
                <pre class="mt-4 bg-light p-3">
                    frontend:
                      build: ./frontend
                      ports:
                        - "3000:3000"
                </pre>
                
                <!-- Backend -->
                <h4 class="mt-4">Backend-palvelu</h4>
                <p class="mt-4">Backend-palvelu hoitaa sovelluksen palvelinpuolen asiat. Se rakentaa Docker imagen './backend' hakemiston Dockerfilen perusteella ja toimii portissa 5000. Lisäksi backendiin on määritelty riippuvuudeksi tietokanta, 'database', jotta backend saadaan odottamaan tietokannan käynnistymistä ennen kuin backend itse käynnistyy.</p>
                <pre class="mt-4 bg-light p-3">
                    backend:
                      build: ./backend
                      ports:
                        - "5000:5000"
                      depends_on:
                        - database
                </pre>
                
                <!-- Database -->
                <h4 class="mt-4">Tietokantapalvelu</h4>
                <p class="mt-4">Tietokantapalvelu käyttää virallista Postgres-imagea ja määrittelee ympäristömuuttujat käyttäjälle, salasanalle ja tietokannan nimelle. Tietokantapalvelu avaa portin 5432 ja määritelee lisäksi kaksi volyymia: yksi säilyttää tietokannan tiedot ja toinen alustaa tietokannan SQL-tiedostolla.</p>
                <pre class="mt-4 bg-light p-3">
                    database:
                      image: postgres:14
                      environment:
                        POSTGRES_USER: user
                        POSTGRES_PASSWORD: password
                        POSTGRES_DB: notes
                      ports:
                        - "5432:5432"
                      volumes:
                        - db_data:/var/lib/postgresql/data
                        - ./backend/init.sql:/docker-entrypoint-initdb.d/init.sql
                </pre>
                
                <!-- Volyymit -->
                <h4 class="mt-4">Volyymit</h4>
                <p class="mt-4">Volyymit kohdassa määritellään volyymit, jotka eri palvelut voivat jakaa. Tässä tapauksessa `db_data`-volyymi mm. säilyttää tietokannan tiedot kun tietokannan kontti sulkeutuu. </p>
                <pre class="mt-4 bg-light p-3">
                    volumes:
                      db_data:
                </pre>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrap.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>