<div class="image"></div>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker Projekti</title>

    <!-- CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy&family=Yeseva+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header d-flex justify-content-between align-items-center">
            <h1><a href="/index">DOCKER PROJEKTI</a></h1>
            <div>
                <a href="/docker">Docker</a>
                <a href="/docker-compose">Docker Compose</a>
                <a href="/notes">Muistiinpanot</a>
            </div>
        </div>
        <div class="content">
            <div class="text">
                <h2 class="mt-4">Kuvaus:</h2>
                <p class="mt-4">Tavoitteena oli luoda Docker pohjainen ympäristö, jolla voitaisiin esitellä Pilvipalvelut -kurssilla käytyjä aiheita Dockeriin liittyen nettisivujen muodossa. Loppullista projektia voitaisiin myös laajentaa, sekä käyttää esimerkkinä Dockerista ja sen käytöstä. Tässä nettisivut ovat jaettu seuraavasti:</p>
                <ul>
                    <li><strong>Docker:</strong> Dockerin peruskäsitteet ja toiminta.</li>
                    <li><strong>Docker Compose:</strong> Docker Compose ja sen käyttö.</li>
                    <li><strong>Muistiinpanot:</strong> Käyttäjän omat muistiinpanot.</li>
                </ul>
                <p class="mt-4">Tämä sivusto on toteutettu Flask-mikroverkkokehyksen ja Bootstrap-CSS-kehyksen avulla.</p>
                <p class="mt-4">Projektin ympäristö on suunniteltu laajennettavaksi käyttäjän omia muistiinpanoja varten. Muistiinpanot tallennetaan tietokantaan, ja niitä voidaan muokata sekä poistaa.</p>
                <p class="mt-4">Jos laajentavuutta halutaan viedä pidemmälle esimerkkejä varten, on myös uusien sivujen lisääminen on mahdollista lisäämällä HTML-tiedostoja <code>templates</code>-kansioon, sekä määrittelemällä niille reitit <code>website.py</code>-tiedostossa. Myös CSS- ja JavaScript-tiedostojen lisääminen on mahdollista lisäämällä ne <code>static</code>-kansioon.</p>
                <p class="mt-4">Voit tutustua eri aiheisiin yläpalkin linkkien kautta.</p>
                <p class="mt-4"><strong>Tekijä:</strong> Ville Puttonen</p>
            </div>
            <div class="image">
                <img src="static/images/docker.png" alt="Docker Logo" class="img-fluid">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>