<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muistiinpanot</title>

    <!-- CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy&family=Yeseva+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header d-flex justify-content-between align-items-center">
            <h1><a href="/">DOCKER PROJEKTI</a></h1>
            <div>
                <a href="/docker">Docker</a>
                <a href="/docker-compose">Docker Compose</a>
                <a href="/notes">Muistiinpanot</a>
            </div>
        </div>
        <div class="content" style="flex-direction: column;">
            <div class="text">
                <h2 class="mt-5">Muistiinpanot:</h2>
                <form id="notesForm" class="mt-4">
                    <div class="form-group">
                        <label for="noteInput">Lisää muistiinpanoja:</label>
                        <textarea class="form-control" id="noteInput" rows="5" style="resize: vertical; width: 100%;" oninput="autoExpand(this)"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="saveNote()">Tallenna</button>
                </form>
                <div id="savedNotes" class="mt-4">
                    <h4>Tallennetut muistiinpanot:</h4>
                    <ul class="list-group" id="notesList" style="width: 100%;"></ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/notes.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>